.cartItemCard {
  border: 1px solid #e6e6e6;
  width: 100%;
  height: 150px;
  border-radius: 10px;
}
.cartItemCard .row {
  height: 100%;
}
.cartItemCard .row .imgCol {
  padding-right: 0;
  height: 100%;
}
.cartItemCardDescriptionWrapper {
  padding: 12px 8px 0 16px;
}
.cartItemCardDescriptionWrapper .deleteCartItemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deleteCartItem {
  margin-top: -20px;
  float: right;
  border: none;
  outline: none;
  background-color: transparent;
}
.cartItemCardDescriptionWrapper p {
  font-size: 14px;
}
.cartItemCard .cartItemCardImageWrapper {
  height: 100%;
}
.cartItemCard .cartItemCardImageWrapper img {
  width: 100% !important;
  height: 100% !important;
}
.cartItemCard .row .detailsCol {
  padding-left: 0;
}

.qtyPriceWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.qtyPriceWrapper div span {
  font-size: 14px;
}
.qtyPriceWrapper div .value {
  font-size: 14px;
}

.qtyPriceWrapper div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.qtywrapper {
  display: flex;
  align-items: center;
}

.qtywrapper .value {
  margin: 0 5px;
}

.qtywrapper button,
.add-to-cart-btn-wrapper button {
  outline: none;
  border: 1px solid var(--orange);
  border-radius: 7px;
  padding: 0 10px;
  color: var(--orange);
  background-color: transparent;
  font-size: 14px;
}
