.adminHeader {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.adminHeader nav ul li .loginBtn {
  padding: 10px 30px;
  border: 1px solid var(--orange);
  border-radius: 30px;
}

.adminHeader nav ul li a img {
  width: 22px;
  height: 22px;
}
